<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
      point = "org.eclipse.ui.newWizards">
 	<wizard
	   id = "net.bioclipse.data.metabolomics.wizards.NewDrugbankProjectWizard"
	   name = "New Metabolomics Data Project"
	   project="true"
	   class="net.bioclipse.data.wizards.NewDataProjectWizard"
	   category="net.bioclipse.data"
	   icon="icons/drug_icon.gif">
   	   <description>Install a Project with sample metabolomics data.</description>
	   <selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
</extension>

  <extension
      point="net.bioclipse.data.install">
      <folder 
      	name="Metabolomics"
      	description="Metabolomics Data Examples"
      	location="data/Metabolomics"
      	wizard="net.bioclipse.data.drugbank.wizards.NewDrugbankProjectWizard"
  	    icon="icons/drug_icon.gif"/>
  </extension>

</plugin>
